<html>
<head>
  <link rel="stylesheet" href="/_css/bootstrap.css">
  <script type="text/javascript" charset="utf-8" src="/_js/bootstrap.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <form action="/_find"><input name="word">
          <submit>Search</submit>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= render_content %>
    </div>
  </div>
</div>
</body>
</html>
